{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $hostname := promptStringOnce . "hostname" "Computer hostname" -}}
{{- $locale := promptStringOnce . "locale" "Locale" "en_US@currency=EUR" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  hostname = {{ $hostname | quote }}
  locale = {{ $locale | quote }}
