{{- $name := promptStringOnce . "data.name" "Full name" -}}
{{- $email := promptStringOnce . "data.email" "Email address" -}}
{{- $hostname := promptStringOnce . "data.hostname" "Computer hostname" -}}
{{- $locale := promptStringOnce . "data.locale" "Locale" "en_US@currency=EUR" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  hostname = {{ $hostname | quote }}
  locale = {{ $locale | quote }}
